@{
  Page.Title ="Welcome";
  Page.PageId = "Home";
}

@section Scripts {
<script src="@Href("~/Scripts/jquery-ui-1.8.20.js")"></script>
<script src="@Href("~/Scripts/knockout-2.1.0.js")"></script>
<script src="@Href("~/Knockout/FolderViewModel.js")"></script>
<script src="@Href("~/Knockout/CustomBindings.js")"></script>
}

<div class="errors">
  <p data-bind="text: $root.error"></p>
</div>

<div class="buttons">
  <a href="#" class="homeIcon icon48" data-bind="click: $root.home"><span>Home</span></a>
  <a href="#" class="refreshIcon icon48" data-bind="click: $root.refresh, visible: $root.keyword() ==''"><span>Refresh</span></a>
  <a href="#" class="addIcon icon48" data-bind="inputPrompt: $root, type: 'file', visible: $root.keyword() ==''"><span>File</span></a>
  <a href="#" class="addIcon icon48 addIcon2" data-bind="inputPrompt: $root, type: 'folder', visible: $root.keyword() ==''"><span>Folder</span></a>
  <a href="#" class="searchIcon icon48" data-bind="searchPrompt: $root"><span>Search</span></a>
</div>

<div class="currentDir" data-bind="css: {visible: $root.keyword() == ''}">
  <a href="#" class="upIcon icon32" data-bind="css: {visible: $root.displaydirectory() != '\\'}, click: $root.upALevel"></a>
  <span>Current Directory: </span><span data-bind="text: $root.displaydirectory"></span>
</div>

<div class="searchResults" data-bind="css: {visible: $root.keyword() != ''}">
  <a href="#" class="backIcon icon32" data-bind="click: $root.backToView"></a>
  <span>Search Results for </span><span data-bind="text: $root.keyword()"></span>
</div>

<div class="treeview">
  <div class="hidden emptyDir" data-bind="css: {visible: folders().length == 0 && files().length == 0 && $root.keyword()=='' }">The directory is empty. Add a file or folder!</div>
  <div class="hidden emptyDir" data-bind="css: {visible: folders().length == 0 && files().length == 0 && $root.keyword()!='' }">No search results. Try again!</div>
  <table class="hidden" data-bind="css: {visible: folders().length > 0 }">
    <tbody data-bind="foreach: folders">
      <tr>
        <td><span class="folderIcon icon48"></span></td>
        <td><a href="#" class="folder" data-bind="text: ItemName, click: $root.navigate, visible: $root.keyword() ==''"></a>
          <span class="folder" data-bind="text: ItemName, visible: $root.keyword() != ''"></span>
        </td>
        <td><a href="#" class="deleteIcon icon24" data-bind="deletePrompt: $root, visible: $root.keyword() ==''"></a></td>
      </tr>
    </tbody>
  </table>
  <table class="hidden" data-bind="css: {visible: files().length > 0 }">
    <tbody data-bind="foreach: files">
      <tr>
        <td><span class="fileIcon icon48"></span></td>
        <td><span class="file" data-bind="text: ItemName"></span></a>
        </td>
        <td><a href="#" class="deleteIcon icon24" data-bind="deletePrompt: $root, visible: $root.keyword() ==''"></a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="dialog-delete-element" style="display: none" title="Delete">
  <p>Are you sure?</p>
</div>

<div class="dialog-form-folder" style="display: none" title="Add Folder">
  <label for="folderInputName">Name:</label>
  <input type="text" name="folderInputName" id="folderInputName"/>
</div>

<div class="dialog-form-file" style="display: none" title="Add File">
  <label for="fileInputName">Name:</label>
  <input type="text" name="fileInputName" id="fileInputName"/>
</div>

<div class="dialog-form-search" style="display: none" title="Search All Folders">
  <label for="keywordInputName">Keyword:</label>
  <input type="text" name="keywordInputName" id="keywordInputName"/>
</div>