/*Active Menu Item*/
#Home .Home, #About .About {
  color: #ffffff;
}

.buttons {
  margin-bottom: 10px;
}

ol, ul {
  list-style: none;
}

a, a:hover, a:focus {
  outline: none;
}

.icon24 {
  display: block;
  width: 24px;
  height: 24px;
}

.icon32 {
  display: block;
  width: 32px;
  height: 32px;
}

.icon48 {
  display: block;
  width: 48px;
  height: 48px;
}

.deleteIcon {
  margin-left: 7px;
  background: url(../img/delete.png);
}

.folderIcon {
  background: url(../img/folder.png);
}

.folder, .file {
  display: block;
  font-size: 1.3em;
  margin: 0 7px 0 9px;
}

a.folder:hover {
  text-decoration: none;
  color: #0f731c;
}

.fileIcon {
  background: url(../img/page.png);
}

.addIcon {
  float: left;
  margin-left: 17px;
  text-align: center;
  background: url(../img/plus.png);
}

.addIcon:hover, .refreshIcon:hover, .searchIcon:hover, .homeIcon:hover {
  font-weight: bold;
  text-decoration: none;
}

.addIcon > span, .refreshIcon > span, .searchIcon > span, .homeIcon > span {
  font-family: 'Segoe UI';
  text-transform: uppercase;
  color: Black;
  display: block;
  padding-top: 54px;
}

.upIcon {
  background: url(../img/up_arrow.png);
  margin-bottom: 7px;
  display: none;
}

.backIcon {
  background: url(../img/left_arrow.png);
  margin-bottom: 7px;
}

.homeIcon {
  float: left;
  text-align: center;
  background: url(../img/home.png);
}

.refreshIcon {
  float: left;
  text-align: center;
  background: url(../img/refresh.png);
  margin-left: 17px;
}

.searchIcon {
  float: left;
  text-align: center;
  background: url(../img/search.png);
  margin-left: 17px;
}

.currentDir, .searchResults {
  clear: both;
  margin-top: 115px;
  font-family: 'Segoe UI';
  text-transform: lowercase;
  font-size: 1.2em;
  display: none;
}

.treeview {
  clear: both;
  margin-top: 13px;
}

tr {
  height: 59px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}

.emptyDir {
  font-family: 'Segoe UI';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}

.errors p {
  color: Red;
  font-family: 'Segoe UI';
  text-transform: lowercase;
  font-size: 1.1em;
  margin-bottom: 15px;
}